<div ng-page-nav ></div>
<div class="row">
	<div class="col-md-12">
		<div class="portlet">
			<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-shopping-cart"></i> 快速筛选
							</div>
							<div class="actions"  >
								<div class="btn-group">
									<form class='form-inline'>
									请选择级别: <select class='form-control' ng-model='rank_id'><option ng-repeat="(k,v) in ranks" value='{{k}}' ng-if="k">{{v}}</option></select>
									 
									</form>
								</div>
							</div>
						</div>

		</div>
	</div> 
	<div  ng-data-table columns="columns" funcs='funcs'  mod='mod'  postparams='postparams'></div>
 
 
</div>